<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tạo form đăng ký đẹp mắt</title>
    <link rel="stylesheet" href="../script/css/loginuser.css">
</head>
<body>
<div class="box">
    <form method="post" action="#" >
        <img src="../upload/img/login1.png" style="height: 150px; width: auto"><br>
        <input type="text" placeholder="Email" required  name="email">
        <input type="password" placeholder="Password" required name="password">
        <input type="submit" value="ĐĂNG NHẬP">
    </form>
</div>
</body>
</html>