
<div class="footer">
        <div style="font-size: 14px; line-height: 30px; background: #222; padding-top: 25px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <h5>Liên hệ</h5>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>Kết nối với chúng tôi</h5>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>Hỗ trợ thanh toán</h5>
                    </div>
                </div>
            </div>
        </div>
       <div  style="font-size: 13px; line-height: 30px; background: #000000">
           <div class="container">
               <div class="row">
               <div class="col">
                   <span style="color: #e1e1e1">©Copyright 2021</span> Mobile Store
               </div>
               <div class="col" style="text-align: right">
                   <span class="list-footer">Liên hệ</span>
                   <span class="list-footer">Giới thiệu</span>
                   <span class="list-footer">Chính sách & Điều khoản</span>
               </div>
           </div></div>
      </div>
</div>