<div style="padding-left: 15px; padding-top: 10px; padding-right: 15px">
    <h4>Lịch sử mua hàng</h4>

    <table style="width: 100%; margin: 5px;">

        <thead style="height: 40px;background: #ccc;font-weight: 900; color: #000; font-size: 10px">
        <th style="font-weight: 900; color: #222; font-size: 12px">STT</th>
        <th style="font-weight: 900; color: #222; font-size: 12px">TÊN SẢN PHẨM</th>
        <th style="font-weight: 900; color: #222; font-size: 12px">SỐ LƯỢNG MUA</th>
        <th style="font-weight: 900; color: #222; font-size: 12px">TỔNG THANH TOÁN</th>
        <th style="font-weight: 900; color: #222; font-size: 12px">HÌNH THỨC THANH TOÁN</th>
        <th style="font-weight: 900; color: #222; font-size: 12px">NGÀY ĐẶT HÀNG</th>
        <th style="font-weight: 900; color: #222; font-size: 12px">NGÀY GỬI HÀNG</th>
        <th style="font-weight: 900; color: #222; font-size: 12px">ĐỊA CHỈ NHẬN</th>
        <th style="font-weight: 900; color: #222; font-size: 12px">HÀNH ĐỘNG</th>
        </thead>
        <?php
        require_once '../controller/PurchaseHistory_Control.php';
        $purchaseHistory = new PurchaseHistory_Control();
        if(isset($_POST['deleid'])){
            $purchaseHistory->delePurchaseHistoryById();
        }
        $dataPurchase =  $purchaseHistory->getListPurchaseHistory();
        ?>

        <?php
        $dem=0;
        foreach($dataPurchase as $line){
            ?>
            <tr style="background:<?php if($dem%2 == 1) echo '#efefef'; else echo 'fcfcfc';?>">
                <td style="font-weight: 600; text-align: center"><?php echo $dem+1?></td>
                <td><textarea><?php echo $line['sanpham'] ?></textarea></td>
                <td style="text-align: center; font-weight: 600"><?php echo $line['soluong'] ?></td>
                <td style="color: #fd7e14"><?php echo number_format($line['thanhtoan'],0,',','.')?>đ</td>
                <td><?php
                    if($line['hinhthucthanhtoan']==0) echo "<span style='background: #444444; color: #fff; padding: 0px 5px'>Tiền mặt</span>";
                    else if($line['hinhthucthanhtoan']==1) echo "<span style='background: #c69500; color: #fff; padding: 0px 5px'>Ngân hàng</span>";
                    else if($line['hinhthucthanhtoan']==2) echo "<span style='background: #ad006c; color: #fff; padding: 0px 5px'>Momo</span>";
                    ?></td>
                <td>
                    <?php echo $line['ngaydat'] ?>
                </td>
                <td>
                    <?php echo $line['ngaygui'] ?>
                </td>
                <td>
                    <textarea><?php echo $line['diachigiaohang'] ?></textarea>
                </td>
                <td style="text-align: center">
                  <form method="post">
                      <input type="hidden" name="deleid" value="<?php echo $line['id'] ?>">
                      <button style="border: 0px">
                          <i title="Xóa lịch sử"  class="fas fa-window-close"></i>
                      </button>
                  </form>
                </td>
            </tr>
            <?php
            $dem++;
        }
        ?>

        <script>
            var n=(parseInt(document.getElementById('num-rows').textContent));

        </script>
    </table>

</div>
